<div>
  <div>
    <h1>
      List of all work locations
    </h1>
  </div>
</div>

<%if current_user != nil%>
<a href="/new/work_location"> Add a new place!<a>
<%end%>
<hr>


<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Location type
        </th>

        <th>
          Name
        </th>

        <th>
          Average rating
        </th>

        <th>
        </th>
      </tr>
        <%if @list_of_work_locations.present?%>
          <% @list_of_work_locations.each do |a_work_location| %>
          <tr>

            <td>
              <%= a_work_location.type%>
            </td>

            <td>
              <%= a_work_location.name %>
            </td>

            <td>
              <%=Rating.where({:location_id =>a_work_location.id}).average(:stars).round(1)%>
            </td>

            <td>
              <a href="/work_locations/<%= a_work_location.id %>">
                Show details
              </a>
            </td>
          </tr>
          <% end %>
        <%end%>
    </table>
  </div>
</div>

<hr>
