<div>
  <div>
    <h2>
      Add a new work location
    </h2>

    <form action="/insert_work_location" method="post">
      <div>
        <label for="location_type_box">
          Location type
        </label>
        <select name="query_location_type" id="location_type_box">
           <% @loc_types.each do |item| %>
             <option value= "<%=item.id %>"><%= item.descriptor %></option>
           <% end %>
        </select>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="weekday_opening_box">
          Weekday opening
        </label>

        <input type="time" id="weekday_opening_box" name="query_weekday_opening">
      </div>

      <div>
        <label for="weekend_opening_box">
          Weekend opening
        </label>

        <input type="time" id="weekend_opening_box" name="query_weekend_opening">
      </div>

      <div>
        <label for="weekday_closing_box">
          Weekday closing
        </label>

        <input type="time" id="weekday_closing_box" name="query_weekday_closing">
      </div>

      <div>
        <label for="weekend_closing_box">
          Weekend closing
        </label>

        <input type="time" id="weekend_closing_box" name="query_weekend_closing">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>

        <input type="text" id="zip_code_box" name="query_zip_code">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <input type="checkbox" id="requires_purchase_box" name="query_requires_purchase" value="1">

        <label for="requires_purchase_box">Requires purchase</label>
      </div>

      <div>
        <input type="checkbox" id="membership_box" name="query_membership" value="1">

        <label for="membership_box">Membership</label>
      </div>

      <button>
        Create work location
      </button>
    </form>
  </div>
</div>
