<div>
  <div>
    <h2>
      Add a new work location
    </h2>

    <form action="/insert_work_location" method="post">
      <div>
        <label for="location_type_id_box">
          Location type
        </label>

        <input type="text" id="location_type_id_box" name="query_location_type_id">
      </div>

      <div>
        <label for="wifi_speed_box">
          Wifi speed
        </label>

        <input type="text" id="wifi_speed_box" name="query_wifi_speed">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="weekday_opening_box">
          Weekday opening
        </label>

        <input type="time" id="weekday_opening_box" name="query_weekday_opening">
      </div>

      <div>
        <label for="weekend_opening_box">
          Weekend opening
        </label>

        <input type="time" id="weekend_opening_box" name="query_weekend_opening">
      </div>

      <div>
        <label for="weekday_closing_box">
          Weekday closing
        </label>

        <input type="time" id="weekday_closing_box" name="query_weekday_closing">
      </div>

      <div>
        <label for="weekend_closing_box">
          Weekend closing
        </label>

        <input type="time" id="weekend_closing_box" name="query_weekend_closing">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>

        <input type="text" id="zip_code_box" name="query_zip_code">
      </div>

      <div>
        <label for="longitude_box">
          Longitude
        </label>

        <input type="text" id="longitude_box" name="query_longitude">
      </div>

      <div>
        <label for="latitude_box">
          Latitude
        </label>

        <input type="text" id="latitude_box" name="query_latitude">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="average_rating_box">
          Average rating
        </label>

        <input type="text" id="average_rating_box" name="query_average_rating">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <div>
        <label for="crowding_average_box">
          Crowding average
        </label>

        <input type="text" id="crowding_average_box" name="query_crowding_average">
      </div>

      <div>
        <label for="noise_average_box">
          Noise average
        </label>

        <input type="text" id="noise_average_box" name="query_noise_average">
      </div>

      <div>
        <input type="checkbox" id="requires_purchase_box" name="query_requires_purchase" value="1">

        <label for="requires_purchase_box">Requires purchase</label>
      </div>

      <div>
        <input type="checkbox" id="membership_box" name="query_membership" value="1">

        <label for="membership_box">Membership</label>
      </div>

      <button>
        Create work location
      </button>
    </form>
  </div>
</div>
