

<div>
  <div>
    <h2>
      Add rating
    </h2>

    <form action="/insert_rating/"  method="post" >
      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=current_user.id %>">
      </div>

      <div>


        <input type="hidden" id="location_id_box" name="query_location_id" value="<%= @location_id %>">
      </div>

      <div>

        <label for="stars_box">
          Stars
        </label>

        <select name="query_stars" id="stars_box">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

      </div>

      <div>
        <label for="wifi_rating_box">
          Wifi rating
        </label>
        <select name="query_wifi_rating" id="wifi_rating_box">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
 
      </div>

      <div>
        <label for="crowding_score_box">
          Crowding score
        </label>

        <select name="query_crowding_score" id="crowding_score_box">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

      </div>

      <div>
        <label for="noise_level_box">
          Noise level
        </label>

        <select name="query_noise_level" id="noise_level_box">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

            <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content"></textarea>
      </div>

      <button>
        Create rating
      </button>
    </form>
  </div>
</div>

<hr>
